#slide-show {
    position: relative;
    width: 100%;
    float: left;
    margin-bottom: 50px;
    overflow: hidden;
}
#slider-content {
    overflow: hidden;
    width: 1000%;
    max-width: none
}
#slider-content, #slider-content tr, #slider-content td {
    border: none;
    margin: 0;
    padding: 0
}
#slider-content:after {
    clear: both
}
.slider-item {
    display: block;
    float: left;
    margin: 0;
    padding: 0;
    top: 0;
    position: relative
}
.slider-item>img {
    max-width: 100%;
    margin: 0;
    padding: 0
}

.slider-control {
    position: absolute;
    top: 45%;
    z-index: 1000;
}
.slider-control>i {
    font-size: 60px;
    font-size: 6rem;
    color: #f9f9f9;
    cursor: pointer
}
.slider-control>i:hover {
    color: #fff
}
.slider-left {
    left: 3%
}
.slider-right {
    right: 3%
}
.readmore-slider1 {
    position: absolute;
    bottom: 8%;
    left: 7.6%;
    width: 20%;
    height: 12.5%;
    background: url(../images/button-hover.png) 0 0 no-repeat;
    background-size: 100% 100%
}
.readmore-slider1:hover {
    background: url(../images/button.png) 0 0 no-repeat;
    background-size: 100% 100%
}
.readmore-slider2 {
    position: absolute;
    bottom: 10%;
    left: 6%;
    width: 27%;
    height: 12.5%;
    background: url(../images/button2.png) 0 0 no-repeat;
    background-size: 100% 100%
}
.readmore-slider2:hover {
    background: url(../images/button2-hover.png) 0 0 no-repeat;
    background-size: 100% 100%
}