#slide-show {
    position: relative;
    width: 100%;
    float: left;
    margin-bottom: 50px;
    overflow: hidden;
}
#slider-content {
    overflow: hidden;
    width: 1000%;
    max-width: none
}
#slider-content, #slider-content tr, #slider-content td {
    border: none;
    margin: 0;
    padding: 0
}
#slider-content:after {
    clear: both
}
.slider-item {
    display: block;
    float: left;
    margin: 0;
    padding: 0;
    top: 0
}
.slider-item>img {
    max-width: 100%;
    margin: 0;
    padding: 0
}

.slider-control {
    position: absolute;
    top: 45%;
    z-index: 1000;
}
.slider-control>i {
    font-size: 60px;
    color: #f9f9f9;
    cursor: pointer
}
.slider-control>i:hover {
    color: #fff
}
.slider-left {
    left: 3%
}
.slider-right {
    right: 3%
}